ul#post-content  
  li author : #{post.author.name}
  li title : #{post.title}
  li view count : #{post.view_count}
  li description : #{post.description}
  li content : #{post.content}
  ul#tags
    for tag in post.tags
      li.tag 
        a(href='/search?tag=#{tag}') #{tag}
  .button#editBtn edit tag
  input#tagInput  
script
  require(['Porter', 'underscore', 'jquery', 'backbone'], function () {
      console.log('load porter');
      var porter = Porter({
          tag: {
              create : ['post', '/tag/create/:postId']
            , search : ['get', '/search']
          }
      });
      
  });
  
