ul#post-content  
  li author : #{post.author.name}
  li title : #{post.title}
  li view count : #{post.view_count}
  li description : #{post.description}
  li content : #{post.content}
  #tag-create create new tag
  ul#tag-list
  #tag-edit edit tag
  .clearfix
-var test = post;
script
  var postId = '#{post._id}';
  var postObj = JSON.parse('!{postJson}');
  var tags = postObj.tags;
  require('views/post/main');
//script(src='/javascripts/require.js', data-main='/javascripts/views/post/main', type='text/javascript')

  
